db.sqlite3
.DS_Store
media/.DS_Store
media/icon/.DS_Store
media/photos/.DS_Store
media/talk_icon/
schare/.DS_Store
share_calendar/.DS_Store
share_calendar/static/.DS_Store
share_calendar/static/share_calendar/.DS_Store

