@charset 'UTF-8';

.profile_container {
    display: flex;
    width: 1440px;
    height:780px;
    justify-content: center;
    background-color: #f9f9f9;
    }
}

.profile {
    width: 900px;
    height: 780px;
    background-color:white;
    overflow:scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    }
    
.profile::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }


    
.profile_cont {
    display: flex;
    width: 900px;
    height: 220px;
    box-sizing: border-box;
    background-color: white;
    }


.left {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items:center;
    }
    
.right {
    width: 650px;
    }



#username {
    display: inline-block;
    font: 24px 'arial', sans-serif;
    width: 400px;
    margin-right:50px;
    color: #222;
    margin-top: 15px;
    overflow-x:scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    }
    
#username::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }
    

#follow_form {
    display: inline-block;
    }

#follow_button {
    border: none;
    background: none;
    color: blue;
    font: 12px 'arial', sans-serif;
    }
    
#follower_button {
    border: none;
    background: none;
    color: red;
    font: 12px 'arial', sans-serif;
    opacity: 0.8;
    }

#prof {
    font: 14px 'arial', sans-serif;
    color: #333;
    margin-left:10px;
    margin-top: 20px;
    margin-right: 80px;
    
    }

.follow {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    font: 14px 'arial', sans-serif;
    }
    
.icon_pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px #b5b5b5;
    margin-top: 20px;
    }
.your_memory {
    width:900px;
    }
.head {
    display: flex;
    justify-content: center;
    }
.your_memory_bar {
    display: flex;
    width: 900px;
    height: 30px;
    margin-bottom: 10px;
    }

.bar_img {
    width: 20px;
    height:20px;
    }

.bar_img_heart {
    width: 30px;
    height:30px;
    }
#bar_left {
    width: 298px;
    height: 30px;
    color: #444444;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0,0, .2);
    margin-right: 2px;
    }

#bar_center {
    width: 298px;
    height: 30px;
    color: #444444;
    font-size: 1.2em;
    text-align: center;
    margin-right: 2px;
    box-shadow: 0 2px 2px rgba(0, 0,0, .2)
    }

#bar_right {
    width: 298px;
    height: 30px;
    color: #444444;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0,0, .2)
    }
    
.bar {
    text-decoration: none;
    }
.bar:visited {
    text-decoration:none;
    color: #444444;
    }

/* memory */
.your_memory_content {
    width: 900px;
    height: 515px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    }

.your_memory_content::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }
    
.today_memory_content {
    display: flex;
    width: 900px;
    height: 222px;
    display: flex;
    margin-top: 8px;
    }

.today_container_1, .today_container_2, .today_container_3, .today_container_4 {
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 215px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 7px;
    box-shadow: 0 6px 8px rgba(0,0,0,.2);
    background-color: white;
    }

.today_title {
    display: block;
    height:17px;
    font: 12px 'arial', sans-serif;
    color: #444444;
    text-align: center;
    }

.main_pic {
    width: 215px;
    height: 154px;
    display: flex;
    justify-content: center;}

.main_pic img{
    max-width: 215px;
    height: 154px;
    object-fit: cover;
    }

.footer {
    display: flex;
    align-items:center;
    height: 30px;
    }

    
    
#date {
    font: 12px 'arial', sans-serif;
    color: #444444;
    text-align: right;
    margin-right: 5px;
    }


#author {
    width: 175px;
    font: 13px 'arial', sans-serif;
    color: #444444;
    line-height: 23px;
    display: flex;
    align-items:center;
    white-space: nowrap;
    overflow: scroll;
    scrollbar-width: none;
    }
    
#author::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }

#author img{
    width: 20px;
    height:20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
    }

#comment {
    width: 40px;
    height: 23px;
    }

#comment img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    margin-left: 15px;
    }



/*memory_end*/

/*sch*/

    
.day_obj_image_1 {
    width: 30px;
    margin-right: 18px;
    }

.day_obj_image_1 img{
    width: 20px;
    height: 20px;
    object-fit:cover;
    position: relative;
    top: 6px;
    left:6px;
    }

.sch_title_1::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }
.sch_title_1 {
    white-space:nowrap;
    font: 14px 'arial', sans-serif;
    width: 350px;
    margin-right: 10px;
    line-height: 28px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    }

.day_obj_member_1 {
    white-space:nowrap;
    display: flex;
    align-items:center;
    width: 302px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    }
.day_obj_member_1::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }


a {
    text-decoration: none;
    color: black;
    }
    
a:visited {
    text-decoration: none;
    color: black;
    }

.mobile_today_memory_content {
    display: flex;
    width: 100%;
    }
.mobile_today_container_1, .mobile_today_container_2, .mobile_today_container_3{
    display: none;
    }
    
.mobile_top {
    display:none;
    }

.mobile_end {
    display:none;
    }

.mobile_space {
    display:none;
    }

.mobile_sch_author_icon {
    display:none;
    }

@media screen and (max-width: 559px) {
    


.profile_container {
    width: 100vw;
    height:100vh;
    
    background-color: white;
    display: flex;
    justify-content: center;
    }

.profile {
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    padding-top:50px;
    padding-bottom:50px;
    box-sizing:border-box;
    }
    
.profile::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }


    
.profile_cont {
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    background-color: white;
    }


.left {
    display: none;
    }
    
.right {
    display: none;
    }

.mobile_top {
    width:100%;
    height:50%;
    display:flex;
    }

.mobile_end {
    width:100%;
    height:50%;
    display:flex;
    }

.mobile_user_icon_wrap {
    width: 30%;
    }


.mobile_user_info {
    width: 70%;
    }
    
.mobile_user_info_top{
    display:flex;
    }


#username {
    display: inline-block;
    font: 22px 'arial', sans-serif;
    width: 100%;
    margin-right:10px;
    color: #222;
    margin-top: 25px;
    overflow-x:scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    }
    
#username::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }
    

#follow_form {
    display: inline-block;
    }

#follow_button {
    border: none;
    background: none;
    color: blue;
    font: 12px 'arial', sans-serif;
    }
    
#follower_button {
    border: none;
    background: none;
    color: red;
    font: 12px 'arial', sans-serif;
    opacity: 0.8;
    }


#prof {
    width: 100%;
    height:100%;
    font: 14px 'arial', sans-serif;
    padding: 20px;
    padding-bottom:10px;
    margin:0;
    box-sizing:border-box;
    }
    
.mobile_post_wrap {
    text-align:right;
    padding-right: 10px;
    }

.follow {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    font: 14px 'arial', sans-serif;
    }

.icon_pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px #b5b5b5;
    margin: 20px;
    }

#set_img {
    width:20px;
    height:20px;
    top:0;
    left:0;
    margin-right:10px;
    margin-top:25px;
    }


@media screen and (max-width: 400px) {
.mobile_top {
    width:100%;
    height:50%;
    display:flex;
    }

.mobile_end {
    width:100%;
    height:50%;
    display:flex;
    }


#username {
    display: inline-block;
    font: 18px 'arial', sans-serif;
    margin-right:10px;
    color: #222;
    margin-top: 15px;
    overflow-x:scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    }
    
#username::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }

#set_img {
    width:20px;
    height:20px;
    margin-right:10px;
    margin-top:15px;
    }
    

#follow_form {
    display: inline-block;
    }

#follow_button {
    border: none;
    background: none;
    color: blue;
    font: 12px 'arial', sans-serif;
    }
    
#follower_button {
    border: none;
    background: none;
    color: red;
    font: 12px 'arial', sans-serif;
    opacity: 0.8;
    }

#prof {
    width: 100%;
    height:100%;
    font: 10px 'arial', sans-serif;
    color: #333;
    padding: 20px;
    padding-left: 10px;
    padding-bottom:10px;
    margin:0;
    box-sizing:border-box;
    }

.follow {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    font: 14px 'arial', sans-serif;
    }

.icon_pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px #b5b5b5;
    margin: 10px;
    }

}

.your_memory {
    width:100%;

    }
.head {
    display: flex;
    height:30px;
    justify-content: center;
    }
.your_memory_bar {
    display: flex;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    }

.bar_img {
    width: 20px;
    height:20px;
    }

.bar_img_heart {
    width: 30px;
    height:30px;
    }
#bar_left {
    width: 33%;
    height: 30px;
    background-color: white;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0,0, .2);
    margin-right: 2px;
    }

#bar_center {
    width: 33%;
    height: 30px;
    background-color: white;
    font-size: 1.2em;
    text-align: center;
    margin-right: 2px;
    box-shadow: 0 2px 2px rgba(0, 0,0, .2)
    }

#bar_right {
    width: 33%;
    height: 30px;
    background-color: white;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0,0, .2)
    }
    
.bar {
    text-decoration: none;
    }
.bar:visited {
    text-decoration:none;
    color: white;
    }

/* memory */
.your_memory_content {
    width: 100%;
    height: auto;
    background-color: white;
    flex-direction:column;
    justify-content: center;
    }

.memory_content {
    width: 100%;
    flex:1;
    overflow:auto;
    box-sizing:border-box;
    padding-bottom:20px;
    
    }

.your_memory_content::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }
    
.mobile_today_memory_content {
    display: flex;
    width: 100%;
    margin-top: 8px;
    }

.today_memory_content {
    display: none;
    }

.today_container_1, .today_container_2, .today_container_3, .today_container_4 {
    display: none;

    }

.mobile_today_container_1, .mobile_today_container_2, .mobile_today_container_3{
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    margin-right: 4px;
    margin-left:4px;
    box-shadow:0 4px 4px rgba(0,0,0,.4);
    border-radius: 4px;
    background-color: white;
    }

.today_title {
    display: block;
    height:17px;
    font: 12px 'arial', sans-serif;
    color: #444444;
    text-align: center;
    }

#mobile_today_container a{
    width: 100%;
    height: 100%;
    }


.main_pic {
    display:none;
    }

.mobile_main_pic {
    position:relative;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    }

.mobile_main_pic img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    
    }

.footer {
    display: flex;
    align-items:center;
    height: 30px;
    }

    
    
#mobile_date {
    position:absolute;
    font: 14px 'arial', sans-serif;
    color: white;
    }


.mobile_today_title {
    position:absolute;
    top: calc(50% - 8px); 
    font: 16px 'arial', sans-serif;
    color: white;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    width:100%;
    }
.mobile_today_title::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }




/*memory_end*/

/*sch*/

    
.day_obj_image_1 {
    width: 30px;
    margin-right: 0px;
    }

.day_obj_image_1 img{
    width: 15px;
    height: 15px;
    object-fit:cover;
    position: relative;
    top: 0px;
    left:0px;
    }

.sch_title_1::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }
.sch_title_1 {
    white-space:nowrap;
    font: 12px 'arial', sans-serif;
    line-height: 16px;
    width: 40%;
    margin-right: 8px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    }

.day_obj_member_1 {
    white-space:nowrap;
    display: flex;
    align-items:center;
    width: 40%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;
    }
.day_obj_member_1::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
    }

.mobile_space {
    display:block;
    height: 20px;
    }

.sch_author_icon {
}
    
    
    
}
