@charset 'utf-8';

.form_container {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 780px;
    }

.form {
    width: 900px;
    background-color: white;
    align-self: center;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
    }