@charset 'UTF-8';


body {
    margin: 0;
    }
    
.container {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 837px;
    background-color:black;
    }

.content_container {
    display: flex;
    width: 900px;
    height: 100%;
    }

.content {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 100%;
    }

