{% extends 'share_calendar/index.html' %}
{% block head %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta chareset="UTF-8">
    <link href="../../../../static/share_calendar/css/sidebar.css/" type="text/css" rel="stylesheet">
    <link href="../../../../static/share_calendar/css/account.css/" type="text/css" rel="stylesheet">
</head>
{% endblock %}
{% block pagenation %}
<div class="control"></div>
{% endblock %}

    {% block content %}
    <div class="container">
    <div class="menu">
        <p>menu</p>
        <ul>
          <a href="{% url 'share_calendar:calendar' %}"><li>schedule</li></a>
          <a href="{% url 'share_calendar:talk' %}"><li>talk</li></a>
          <a href="{% url 'share_calendar:memory' %}"><li>memory</li></a>
          <a href=""><li>account</li></a>
          <a href="{% url 'share_calendar:logout' %}">logout</a>
        </ul>
        <div class="login_user">
            {{login_user}}
        </div>
    </div>
    <div class="who_are_you">
        <div class="profile">
        {% for item in login_user_profile %}
        <div class="prof_left">
            <p>{{login_user}}</p>
            <p>follower:</p>
            <p>follow:</p>
            <form method="post">
            <input type="search" value="スケジュールを検索">
            <input type="submit" value="検索">
            </form>
        </div>
        <div class="prof_center">
            <img src="../../media/{{item.icon}}/">
        </div>
        <div class="prof_right">
            <div class="prof_prof">{{item.prof}}</div>
        </div>
        {% endfor %}
        
        </div>
        <div class="your_memory">
            <div class="your_memory_bar">
                <div class="bar_left"><a href="{% url 'share_calendar:account_memory' %}">memory</a></div>
                <div class="bar_center">scheule</div>
                <div class="bar_right">good</div>
            </div>
            <div class="your_memory_content">
            {% for item in ind_memory %}
            <div class="memory_pice">
            {{item.selected_date}}
            {{item}}
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {% endblock %}
