{% extends 'share_calendar/index.html' %}
{% block head %}
<!DOCTYPE html>
<html lang="ja">
<head>
    {% include 'share_calendar/head.html' %}
    <link href="../../../../static/share_calendar/css/sidebar.css" type="text/css" rel="stylesheet">
    <link href="../../../../static/share_calendar/css/balloon.css" type="text/css" rel="stylesheet">
</head>
{% endblock %}
{% block icon %}
            <div class="icon"><img id="icon_img" src="../media/button/logo.png"></div>
{% endblock %}
{% block pagenation %}
<div class="control"></div>
{% endblock %}
{% block menu %}
            <ul>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:calendar' %}"><img id="icon_sch" src="../media/button/sch.PNG/"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:memory' %}"><img id="icon_memory" src="../media/button/memory.PNG/"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:account' 0 0 %}"><img id="icon_smile" src="../media/button/smile.PNG/"></a>
                <ul class="smile_sub_menu">
                    <li class="conf"><a id="conf" href="#"><img id="set_img" src="../media/button/setting.png">設定</a></li>
                    <li class="ser"><a id="conf" href="#"><img id="ser_img" src="../media/button/search.PNG">ユーザ検索</a></li>
                    <li class="logout"><a id="logout" href="{% url 'share_calendar:logout' %}">ログアウト</a></li>
                </ul>
                </li>
            </ul>
{% endblock %}
{% block content %}
<div class="balloon_container">
    <div class="balloon_content">
    {% for item in bal_list %}
        <div class="balloon_block">
            <div class="schedule">{{item.schedule}}</div>
            <div class="join_user">
            <a href="{% url 'share_calendar:account' 0 item.join_user.pk %}">
            {% if item.join_user.profile.icon %}
            <img src="../media/{{item.join_user.profile.icon}}"><span>
            {% else %}
            <img src="../media/button/no_icon.png"><span>
            {% endif %}
            @{{item.join_user}}</span>
            </a></div>
            <div class="post_form">
            <form method="POST">
                {% csrf_token %}
                {% csrf_token %}
                {{item.pk}}
                <button id="ok" type="submit" name="ok{{item.pk}}">yes</button>
                <button id="delete" type="submit" name="delete{{item.pk}}">no</button>
            </form>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
</div>
<body>
</body>
</html>