{% extends 'share_calendar/index.html' %}
{% load static %}
{% load daterange %}
{% block head %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../../../../static/share_calendar/css/sidebar.css" type="text/css" rel="stylesheet">
    <link href="../../../../static/share_calendar/css/index_memory.css" type="text/css" rel="stylesheet">
</head>
{% endblock %}
{% block icon %}
            <div class="icon"><img id="icon_img" src="../media/button/logo.png"></div>
{% endblock %}
{% block mobile_icon %}
            <div class="mobile_icon"><img id="icon_img" src="../media/button/logo.png"></div>

{% endblock %}
{% block pagenation %}
<div class="control"></div>
{% endblock %}
{% block menu %}
            <ul>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:calendar' %}"><img id="icon_sch" src="../media/button/sch.PNG"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:memory' %}"><img id="icon_memory" src="../media/button/memory.PNG"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:account' 0 0 %}"><img id="icon_smile" src="../media/button/smile.PNG"></a>
                <ul class="smile_sub_menu">
                    <li class="conf"><a id="conf" href="#"><img id="set_img" src="../media/button/setting.png">設定</a></li>
                    <li class="ser"><a id="conf" href="#"><img id="ser_img" src="../media/button/search.PNG">ユーザ検索</a></li>
                    <li class="logout"><a id="logout" href="{% url 'share_calendar:logout' %}">ログアウト</a></li>
                </ul>
                </li>

            </ul>
{% endblock %}
{% block content %}

    <div class="memory_container">
        <div class="memory_content">
         
        {% for data_list in data_nest %}
            <div class="today_memory_content">
            {% for item in data_list %}
                        <div class="{% cycle 'today_container_1' 'today_container_2' 'today_container_3' 'today_container_4' %}">
                        <a href="{% url 'share_calendar:memory_pic' item.pk %}">
                            <div class="today_title">
                            {{item}}
                            </div>
                            <div id="date">
                                {{item.sc_title.selected_date|date:"Y-m-d"}}
                            </div>
                            <div class="main_pic">
                                <img src="../media/{{item.main_pic}}">
                            </div>
                        </a>  
                            <div class="footer">
                                <a href="{% url 'share_calendar:account' item.sc_title.author.pk 0 %}">
                                <span id="author">
                                {% if item.sc_title.author.profile.icon %}
                                <img src="../media/{{item.sc_title.author.profile.icon}}">
                                {% else %}
                                <img class="icon_pic" src="../media/button/no_icon.PNG">
                                {% endif %}
                                @{{item.sc_title.author}}
                                </span>
                                </a>
                                <a href="{% url 'share_calendar:sch_detail' item.sc_title.pk %}">
                                <span id="comment">
                                    <img  src="../media/button/comment.png">
                                </span>
                                </a>
                            </div>   
                        </div>
                        
            {% endfor %}
            </div>
        {% endfor %}
        {% for data_list in mobile_data_nest %}
            <div id="mobile_today_memory_content" class="mobile_today_memory_content">
            {% for item in data_list %}
                        <div id="mobile_today_container" class="{% cycle 'mobile_today_container_1' 'mobile_today_container_2' 'mobile_today_container_3' %}">
                        <a href="{% url 'share_calendar:memory_pic' item.pk %}">
                            <div class="mobile_main_pic">
                            <img src="../media/{{item.main_pic}}">
                            <div class="mobile_today_title">
                            {{item}}
                            </div>
                            <div id="mobile_date">
                                {{item.sc_title.selected_date|date:"Y-m-d"}}
                            </div>
                            <div id="author">
                            {% if item.sc_title.author.profile.icon %}
                            <img src="../media/{{item.sc_title.author.profile.icon}}">
                            {% else %}
                            <img class="icon_pic" src="../media/button/no_icon.PNG">
                            {% endif %}
                            @{{item.sc_title.author}}
                            </div>
                            </div>
                            
                        </a>  
                            
                        </div>
                        
            {% endfor %}
            </div>
        {% endfor %}
        </div>
        </div>
        <div id="image_add" class="image_add">
        <a href="{% url 'share_calendar:today_form' %}">
        <img src="../media/button/add_image.PNG" id="add_pic_img" class="add_pic_img">
        </a>
        </div>
    </div>
    <script type="text/javascript" src="../../../../static/share_calendar/js/memory.js"></script>
{% endblock %}