<!doctype html>
<html lang="ja">
<head>
    {% include 'share_calendar/head.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../../../../static/share_calendar/css/sidebar.css" type="text/css" rel="stylesheet">
    <link href="../../../../static/share_calendar/css/style_index.css" type="text/css" rel="stylesheet">
    <link href="../../../../static/share_calendar/css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="login_container">
            <div class="loginform_container">
                <form method="post">
                {% csrf_token %}
                {% csrf_token %}
                <p><span class="username">USERNAME:</span><span>{{form.username}}</span></p>
                <p><span class="pass">PASSWORD:</span><span>{{form.password}}</span></p>
                {% csrf_token %}
                <div class="submit"><button type="submit">ログイン</button></div><a class="new_user" href="../add_user">new user>></a>
                {% csrf_token %}
                <div class="error_mes">
                {% if form.errors %}
                    <p>{{form.errors}}</p>
                {% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
    </body>
</html>