{% extends 'share_calendar/index.html' %}
{% load static %}
{% block head %}
<!DOCTYPE html>
<html lant="ja">
<head>
    {% include 'share_calendar/head.html' %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../../../../../static/share_calendar/css/form.css" type="text/css" rel="stylesheet">
    <link href="../../../../../static/share_calendar/css/member_form.css" type="text/css" rel="stylesheet">
    <link href="../../../../../static/share_calendar/css/sidebar.css" type="text/css" rel="stylesheet">
</head>
{% endblock %}
{% block mobile_icon %}
        <div class="mobile_icon"><img id="icon_img" src="../media/button/logo.png"></div>
{% endblock %}
{% block icon %}
        <div class="icon"><img id="icon_img" src="../media/button/logo.png"></div>
{% endblock %}
{% block pagenation %}
<div class="control"></div>
{% endblock %}
{% block menu %}
            <ul>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:calendar' %}"><img id="icon_sch" src="../media/button/sch.PNG"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:memory' %}"><img id="icon_memory" src="../media/button/memory.PNG"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:account' 0 0 %}"><img id="icon_smile" src="../media/button/smile.PNG"></a>
                <ul class="smile_sub_menu">
                    <li class="conf"><a id="conf" href="#"><img id="set_img" src="../media/button/setting.png">設定</a></li>
                    <li class="ser"><a id="conf" href="#"><img id="ser_img" src="../media/button/search.PNG">ユーザ検索</a></li>
                    <li class="logout"><a id="logout" href="{% url 'share_calendar:logout' %}">ログアウト</a></li>
                </ul>
                </li>
            </ul>
{% endblock %}
{% block content %}
    <div class="content_container">
        <div class="content">
            <button class="button_to_redirect" type="submit" onclick="location.href='../'">back</button>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="schedule">{{form.schedule}}</div>
            <div class="friend_icon"><span id="fri_img"><img src="../media/button/member.PNG"></span><span id="fri_mem">member</span></div>
            <div class="member_box">
                <div>{{form.member}}</div>
            </div>
            <div id="save_container">
                <input class="save_and_redirect" type="submit" value="save">
            </div>
            </form>
        </div>
    </div>
{% endblock %} 