<div class="memory_content">
{% for data_list in data %}
    <div class="today_memory_content">
    {% for item in data_list %}
                <div class="{% cycle 'today_container_1' 'today_container_2' 'today_container_3' 'today_container_4' %}">
                <a href="{% url 'share_calendar:memory_pic' item.pk %}">
                    <div class="today_title">
                    {{item}}
                    </div>
                    <div id="date">
                        {{item.sc_title.selected_date|date:"Y-m-d"}}
                    </div>
                    <div class="main_pic">
                        <img src="../../../media/{{item.main_pic}}">
                    </div>
                </a>  
                    <div class="footer">
                        <a href="{% url 'share_calendar:account' item.sc_title.author.pk 0 %}">
                        <span id="author">
                        {% if item.sc_title.author.profile.icon %}
                        
                            <img src="../../../media/{{item.sc_title.author.profile.icon}}">
                        {% else %}
                            <img src="../../../media/button/no_icon.PNG">
                        {% endif %}
                        @{{item.sc_title.author}}
                        </span>
                        </a>
                        <a href="{% url 'share_calendar:sch_detail' item.sc_title.pk %}">
                        <span id="comment">
                            <img  src="../../../media/button/comment.png">
                        </span>
                        </a>
                    </div>   
                </div>
    {% endfor %}
    </div>
{% endfor %}
{% for data_list in mobile_data %}
    <div id="mobile_today_memory_content" class="mobile_today_memory_content">
    {% for item in data_list %}
                        <div id="mobile_today_container" class="{% cycle 'mobile_today_container_1' 'mobile_today_container_2' 'mobile_today_container_3' %}">
                            <a href="{% url 'share_calendar:memory_pic' item.pk %}">
                                <div class="mobile_main_pic">
                                    <img src="../../../media/{{item.main_pic}}">
                                    <div class="mobile_today_title">
                                    {{item}}
                                    </div>
                                    <div id="mobile_date">
                                        {{item.sc_title.selected_date|date:"Y-m-d"}}
                                        </div>
                                </div>
                                
                            </a>  
                            
                        </div>
    {% endfor %}
    </div>
{% endfor %}
</div>
<script type="text/javascript" src="../../../../static/share_calendar/js/memory.js"></script>

