{% extends 'share_calendar/index.html' %}
{% block head %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta chareset="UTF-8">
    <link href="../../../../static/share_calendar/css/sidebar.css" type="text/css" rel="stylesheet">
    <link href= "../../../../static/share_calendar/css/talk.css" type="text/css" rel="stylesheet">
</head>
{% endblock %}
{% block icon %}
            <div class="icon"><img id="icon_img" src="../media/button/logo.png"></div>
{% endblock %}
{% block pagenation %}
<div class="control"></div>
{% endblock %}
{% block menu %}
            <ul>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:calendar' %}"><img id="icon_sch" src="../media/button/sch.PNG"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:memory' %}"><img id="icon_memory" src="../media/button/memory.PNG"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:account' 0 0 %}"><img id="icon_smile" src="../media/button/smile.PNG"></a></li>
                <li class="menu"><a class="menu_a" href="{% url 'share_calendar:logout' %}"></a></li>
            </ul>
{% endblock %}
{% block content %}
    <div class="talk_content_container">
        <div class="talk_content">
            <div class="talk_edit"> 
            <a class="plus" href="{% url 'share_calendar:talk_form' %}">+</a>
            </div>
        <div class="talk_message">
        {% for item in talk_title %}
        <div class="talk_block">
            <div class="talk_message_left">
            <img src="../media/{{item.pic}}">
            </div>
            <a href="../talk_content/{{item.id}}">
            <div class="talk_message_right">
            <p class="talk_message_title">{{item.schedule}}</p>
            {% if item.talkcontents_set.last %}
            <p class="talk_message_content">{{item.talkcontents_set.last}}</p>
            {% endif %}
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}